<header class="codrops-header">
    <div class="codrops-links">
        <a class="codrops-icon codrops-icon--prev" href="https://tympanus.net/Development/MorphingBackgroundShapes/" title="Previous Demo">
            <svg class="icon icon--arrow"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow"></use></svg>
        </a>
        <a class="codrops-icon codrops-icon--drop" href="https://tympanus.net/codrops/?p=31283" title="Back to the article">
            <svg class="icon icon--drop"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-drop"></use></svg>
        </a>
    </div>

    <h1 class="title">Tooltip Animations</h1>
    <p class="tagline">Some ideas for tooltip shapes and animations</p>
    <a class="github" href="https://github.com/codrops/TooltipAnimations/">/Github</a>
</header>
