<section class="content related">
    <p>If you enjoyed this demo you might also like:</p>
    <a class="media-item" href="https://tympanus.net/Development/TooltipStylesInspiration/">
        <img src="assets/img/related/TooltipStyles.jpg" />
        <h3 class="title">Tooltip Styles</h3>
    </a>
    <a class="media-item" href="https://tympanus.net/Development/ElasticProgress/">
        <img src="assets/img/related/ElasticProgress.jpg" />
        <h3 class="title">Elastic Progress</h3>
    </a>
</section>
